.home {
   display: flex;
   flex-wrap: wrap;
   height: 100vh;
}
      
      /* Sidebar */
   

      /* Container */
      
/*    
.container {
   flex: 1;
   margin-left: 180px;
   background: #586685;
   overflow-y: auto;
   padding: 20px;
   height: 100vh;
} */

hr {
   border: .5px solid #cdb6b6;
   margin-bottom: 50px;
}
  
  
    
      /* Widgets */
      
  
.widgets {
   /* display: flex;
   flex-wrap: wrap;
   justify-content: space-between; */
   margin-top: 80px;
}

.listTitle>h2 {
   color: #fff;
   font-size: 18px;
   font-weight: 700;
}


.filterItem>input{
   width: 150px;
}

.filterItem>label>span{
   font-size: 15px;
   font-weight: 600;
   margin-left: 40px;
  
}

.filterItem>label>p{
   margin: 0 8px !important;
   font-weight: 600;
   font-size: 15px;
}




