.board {
    width: 100%;
    margin: 30px 0px 30px 5px;
    overflow: auto;
    background: #fff;
    border-radius: 8px;
    border: .5px solid rgb(216, 200, 200);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
     /* margin: 0 auto; */
     /* max-width: 100%;
     overflow:visible; */
}

table {
    border-collapse: collapse;
    max-width: 100%;
}

td {
    /* border: 1px solid #ddd; */
    padding: 8px;
}

th {
    border: 1px solid #ddd;
    padding: 8px;
    font-weight: bold;
    background-color: #f2f2f2;
}

.people {
    display: flex;
    align-items: center;
}

.people img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 50%;
    object-fit: cover;
}

.people-de h5 {
    margin: 0;
}

.people-des h5 {
    margin: 0;
}

.role {
    text-align: center;
}

.status {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
}

.status.active {
    background-color: green;
}

.status.inactive {
    background-color: red;
}

.edit {
    text-align: center;
}

.edit a {
    text-decoration: none;
    color: #000;
    padding: 5px;
    border-radius: 5px;
    background-color: #f2f2f2;
}

.edit a:hover {
    background-color: #ddd;
}

button {
    background-color: #0077b6;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #023e8a;
}

.people-de>input,
.role>select>option,
td>input {
    width: 150px;
    height: 25px;
    border: none;
    border-bottom: 1px solid gray !important;
    background: transparent;
    padding: 5px;
    font-size: 12px;
}

.edit1 {
    display: flex;
    gap: 3px;
    border: none;
}

.editD {
    color: #59666d;
}

.file-upload {
    display: none;
}