.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    /* left: 200px; */
    right: 0;
    height: 40px;
    width: calc(100vw - 250px);
    z-index: 9999;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.navbar .wrapper {
    display: flex;
    align-items: center;
}

.navbar .search {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 0.25rem;
    border-radius: 4px;
    background-color: #f0f2f5;
    margin-right: 1rem;
}

.navbar .search input[type="text"] {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    margin-right: 0.5rem;
}

.navbar .search svg {
    color: #616161;
}

.navbar .items {
    display: flex;
    align-items: center;
}

.navbar .item {
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
    position: relative;
}

.navbar .icon {
    color: #616161;
}

.navbar .counter {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #f50057;
    color: #ffffff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 0.75rem;
}

.navbar .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 1rem;
}
#menu{
    display: none;
}
@media screen and (max-width: 900px) {
    .navbar {
        width: calc(100vw - 110px);
    }
}

@media screen and (max-width: 600px) {
    .navbar {
        width: calc(100vw - 100px);
        padding: 0.5rem;
    }

    .navbar .search {
        max-width: 200px;
    }

    .navbar .items {
        display: none;
    }

    .navbar .icon {
        margin-right: 0.5rem;
    }

    .navbar .avatar {
        display: none;
    }
}