.custom {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(155, 238, 236);
  }
  
  .custom {
    flex-direction: column;
  }
  
  .balls {
    display: flex;
  }
  
  .ball {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(6, 46, 203, 0.693);
    margin-right: 30px;
    animation: ball 0.5s ease infinite alternate;
  }
  
  .ball2 {
    animation-delay: 0.1s;
  }
  
  .ball3 {
    animation-delay: 0.2s;
  }
  
  @keyframes ball {
    to {
      transform: translateY(-10px);
    }
  }
  
  .customText {
    font-size: 16px;
    font-weight: 100;
  }